@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
<div dir="rtl" style="border-bottom: solid;">
    @if (@Model.Answers.Count() > 0)
    {
        <br />
        @*@Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[0].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; margin-left: 50px;" })*@
        for (int i = 0; i < @Model.Answers.Count; i++)
        {
            @Html.HiddenFor(x => x.Answers[i].FormId)
            @Html.HiddenFor(x => x.Answers[0].SectionId)
            @Html.HiddenFor(x => x.Answers[i].QuestionId)
            @Html.HiddenFor(x => x.Answers[i].AnswerId)
            @Html.HiddenFor(x => x.Answers[i].Score)
            @Html.HiddenFor(x => x.Answers[i].AnswerOption)
            @Html.HiddenFor(x => x.Answers[i].Text)
            @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 15px;  width:20px; margin-left: 10px;" })
            @Html.DisplayFor(x => x.Answers[i].Text, new { @disabled = "disabled" })

            <br />
            <br />
        }

    }
    <div style="margin-bottom:2%;"></div>
</div>