@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
<div dir="rtl" style="border-bottom: solid;">
    <table>
        <tr>
            @if (Model.Answers.Count > 0)
            {
                <th>
                    @Html.DisplayFor(x => x.Answers[0].Text, new { @disabled = "disabled" })

                </th>
                for (int i = 0; i < @Model.Answers.Count; i++)
                {
                    <td style="height: 20px;  width:100px; margin-top: 10px; align-self:center">
                        @Html.HiddenFor(x => x.Answers[i].FormId)
                        @Html.HiddenFor(x => x.Answers[0].SectionId)
                        @Html.HiddenFor(x => x.Answers[i].QuestionId)
                        @Html.HiddenFor(x => x.Answers[i].AnswerId)
                        @Html.HiddenFor(x => x.Answers[i].Score)
                        @Html.HiddenFor(x => x.Answers[i].AnswerOption)
                        @Html.HiddenFor(x => x.NumberOfAnswers)
                        @Html.HiddenFor(x => x.Answers[i].Text)
                        <div style="margin-right: 50%; margin-top: 22px;">
                            @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 20px;  width:20px; " })
                            <br />
                            <div style="margin-right:11% ">
                                @(i + 1)
                            </div>
                        </div>
                    </td>
                }
                <th>
                    @Html.DisplayFor(x => x.Answers[Model.Answers.Count - 1].Text, new { @disabled = "disabled" })
                </th>
            }
        </tr>
    </table>
    <div style="margin-bottom:2%;"></div>
</div>