@model BasisForAppraisal_finalProject.DBML.tbl_Class
@{
    ViewBag.Title = "tbl_Company";
}
<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
  <link href="~/Content/FontStyle.css" rel="stylesheet" />


<div  dir="rtl" style="text-align:center;margin-top:7%; ">
    <div class="panel panel-default" dir="rtl" style="width:80%; margin-right:10%; margin-top:4%; margin-bottom:30%; text-align:center; ">
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 30px; background-color:#a6cae3; font-family:My Custom Font"><strong>רשימת עובדים</strong></div>
        <div class="panel-heading" style="font-size: 16px; text-align:right;font-family:My Custom Font"><strong>חיפוש</strong></div>
        <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
            <thead style=" background-color:#E8E8E8;">
                <tr style=" font-size:20px;">
                    <td align="center" style="font-family:My Custom Font;font-size:21px"><strong>מס זהות</strong></td>
                    <td align="center" style="font-family:My Custom Font;font-size:21px"><strong>שם פרטי</strong></td>
                    <td align="center" style="font-family:My Custom Font;font-size:21px"><strong>שם משפחה</strong></td>
                    <td align="center" style="font-family:My Custom Font;font-size:21px"><strong>מחיקה</strong></td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    @for (int i = 0; i < Model.Employees.Count(); i++)
                    {

                    <tr>
                       <td align="center">@Html.ActionLink(@Model.Employees[i].employeeId, "MainEmployee", new { @id = @Model.Employees[i].employeeId })</td>
                        <td align="center">@Model.Employees[i].firstName</td>
                        <td align="center">@Model.Employees[i].lastName</td>
                        <td><p><span class="glyphicon glyphicon-trash" title="מחק עובד מהחברה" data-toggle="modal" data-target="#@Model.Employees[i].employeeId" style="cursor:pointer;"></span></p></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>




    @foreach (var item in Model.Employees)
    {

            <!-- Modal -->
        <div class="modal fade" id=@item.employeeId tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="alert alert-danger" style="background-color:#FF8080;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;text-align:center">האם אתה בטוח שאתה רוצה למחוק איש קשר : </h4>
                        <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;text-align:center">@item.firstName @item.lastName?</h4>
                    </div>
                    @using (Html.BeginForm("deleteWorker", "MainCompanies", new { idworker = item.employeeId, companyNumber = item.companyId, unit = Model.unitName, cl = Model.className }, FormMethod.Post))
                    {  <div class="modal-body">
                        <button type="submit" class="btn btn-primary" style="background-color:#FF8080;margin-left:42%">מחק</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">בטל</button>
                    </div>

                    }

                </div>
            </div>
        </div>
    }

    <script>

        var table = $('#myTable').DataTable();
        new $.fn.dataTable.KeyTable(table);

    </script>