@model BasisForAppraisal_finalProject.DBML.tbl_Company
@{
    ViewBag.Title = "tbl_Company";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />

<br />
<br />


<table class="table-condensed"  style="background-color:ButtonFace; font-size:22px; margin-right:10%; padding: 10px;  ">
    <tr>
        <th>
            שם:
        </th>
        <th>
            <h3>@Model.comapnyName</h3>
        </th>
    </tr>
    <tr>
        <th>
            כותבת:
        </th>
        <th>
            <h4>@Model.comapnyAddress</h4>
        </th>
    </tr>
    <tr>
        <th>
            טלפון:
        </th>
        <th>
            <h4>@Model.comapnyPhone</h4>
        </th>
    </tr>
</table>

 <div class="panel panel-default" dir="rtl" style="width:80%; margin-right:10%; margin-top:5%; margin-bottom:30%; text-align:center ">

    <!-- Default panel contents -->
    <div class="panel-heading" style="font-size: 22px;  ">רשימת עובדים</div>
    <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>

    <!---knafo-->
    <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
        <thead>
            <tr style=" font-size:20px;">
                <td align="center"> מס זהות</td>
                <td align="center">שם פרטי</td>
                <td align="center">שם משפחה</td>
            </tr>
        </thead>
        <tbody>
           @for(int i=0; i< @Model.Employees.Count; i++)
            {
                <tr>
                    <td align="center">@Html.ActionLink(@Model.Employees[i].employeeId, "ManageCompany", new { @id = @Model.Employees[i].companyId })</td>
                    <td align="center">@Model.Employees[i].firstName</td>
                    <td align="center">@Model.Employees[i].lastName</td>
                </tr>
            }
        </tbody>
    </table>
    <script>

        var table = $('#myTable').DataTable();
        new $.fn.dataTable.KeyTable(table);

    </script>
</div>


<table class="table-bordered">
    @for(int i=0; i< @Model.Employees.Count; i++)
    {
        <tr>
            <th>
                מס זהות
            </th>
            <th>
                מס פרטי
            </th>
        </tr> 
           <tr>
            <th>
                @Model.Employees[i].employeeId
            </th>
               <th>
                   @Model.Employees[i].firstName
               </th>
        </tr> 
    }
    </table>



