@model BasisForAppraisal_finalProject.DBML.tbl_Class
@{
    ViewBag.Title = "tbl_Company";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
<br />
<br />
<div dir="rtl">
<table class="table-condensed" style="background-color:ButtonFace; font-size:22px; margin-right:10%; padding: 10px; ">
    <tr>
        <th>
            שם חברה:
        </th>
        <th>
            <h3 style="margin-right:0%">@Html.DisplayFor(x => x.tbl_Unit.tbl_Company.comapnyName)</h3>
        </th>
    </tr>
     <tr>
        <th>
           יחידה:
        </th>
        <th>
            <h4>@Html.DisplayFor(x => x.tbl_Unit.unitName)</h4>
        </th>
    </tr>
    <tr>
        <th>
           מחזור:
        </th>
        <th>
            <h4>@Html.DisplayFor(x => x.className)</h4>
        </th>
    </tr>
     <tr>
        <th>
            @using (Html.BeginForm("Index", "SendMailer", new { id = Model.companyId, unit = Model.unitName, cl = Model.className }, FormMethod.Post))
            {

                <input type="submit" value="שלח טופס לאנשי קשר" />
            }
        </th>
        
    </tr>
</table>

<div class="panel panel-default" dir="rtl" style="width:80%; margin-right:10%; margin-top:5%; margin-bottom:30%; text-align:center ">
    <!-- Default panel contents -->
    <div class="panel-heading" style="font-size: 22px;  ">רשימת עובדים</div>
    <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>
    <!---knafo-->
    <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
        <thead>
            <tr style=" font-size:20px;">
                <td align="center"> מס זהות</td>
                <td align="center">שם פרטי</td>
                <td align="center">שם משפחה</td>
                <td align="center">מחיקה</td>
            </tr>
        </thead>
        <tbody>
           @for (int i = 0; i <Model.Employees.Count()  ; i++)
            {
               
                <tr>
                    <td align="center">@Html.ActionLink(@Model.Employees[i].employeeId, "MainEmployee", new { @id = @Model.Employees[i].employeeId })</td>
                    <td align="center">@Model.Employees[i].firstName</td>
                    <td align="center">@Model.Employees[i].lastName</td>
                    <td><p><span class="glyphicon glyphicon-trash" title="מחק עובד מהחברה" data-toggle="modal" data-target="#@Model.Employees[i].employeeId" style="cursor:pointer;"></span></p></td>
                </tr>
            }
        </tbody>.
    </table>
  
</div>
</div>

@foreach (var item in Model.Employees)
{

            <!-- Modal -->
    <div class="modal fade" id=@item.employeeId tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:red;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;">האם אתה בטוח שאתה רוצה למחוק איש קשר : </h4>
                    <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;">@item.firstName @item.lastName?</h4>
                </div>
                @using (Html.BeginForm("deleteWorker", "MainCompanies", new { idworker = item.employeeId, companyNumber = item.companyId ,unit=Model.unitName,cl=Model.className}, FormMethod.Post))
                        {  <div class="modal-body">
                    <button type="submit" class="btn btn-primary" style="background-color:red;">מחק</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">בטל</button>
                </div>

                }
      
            </div>
        </div>
    </div>
}

<script>

    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>