@model BasisForAppraisal_finalProject.DBML.tbl_Employee
@{
    Layout = null;
}

<table class="table-condensed" style="background-color:whitesmoke">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.unitName)
        </th>
        <th>
            @Html.DisplayFor(x => x.unitName)
        </th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(x => x.className)
        </th>
        <th>
            @Html.DisplayFor(x => x.className)
        </th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(x => x.employeeId)
        </th>
        <th>
            @Html.DisplayFor(x => x.employeeId)
        </th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(x => x.firstName)
            </th>
        <th>
            @Html.DisplayFor(x => x.firstName)
            </th>
</tr>

    <tr>
        <th>
            @Html.DisplayNameFor(x => x.lastName)
            </th>

        <th>
            @Html.DisplayFor(x => x.lastName)
            </th>
</tr>
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.Email)
            </th>
<th>
    @Html.DisplayFor(x => x.Email)
    </th>
</tr>
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.IsManger)
        </th>
        <th>
            @Html.CheckBoxFor(x => x.IsManger.Value)
            </th>
</tr>
</table>