@model BasisForAppraisal_finalProject.DBML.tbl_Company
@{
    ViewBag.Title = "tbl_Company";
}

@Html.DisplayNameFor(x => x.comapnyName)
<h3>@Model.comapnyName</h3>

@Html.DisplayNameFor(x => x.comapnyAddress)
<h4>@Model.comapnyAddress</h4>

@Html.DisplayNameFor(x => x.comapnyPhone)
<h4>@Model.comapnyPhone</h4>




