@model BasisForAppraisal_finalProject.DBML.tbl_Company
@{
    ViewBag.Title = "tbl_Company";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<br />
<table class="table-condensed"  style="background-color:ButtonFace; font-size:22px; margin-right:10%; padding: 10px;  ">
    <tr>
        <th>
            שם:
        </th>
        <th>
            <h3>@Model.comapnyName</h3>
        </th>
    </tr>
    <tr>
        <th>
            כותבת:
        </th>
        <th>
            <h4>@Model.comapnyAddress</h4>
        </th>
    </tr>
    <tr>
        <th>
            טלפון:
        </th>
        <th>
            <h4>@Model.comapnyPhone</h4>
        </th>
    </tr>
</table>

<table class="table-bordered">
    @for(int i=0; i< @Model.Employees.Count; i++)
    {
        <tr>
            <th>
                מס זהות
            </th>
            <th>
                מס פרטי
            </th>
        </tr> 
           <tr>
            <th>
                @Model.Employees[i].employeeId
            </th>
               <th>
                   @Model.Employees[i].firstName
               </th>
        </tr> 
    }
    </table>



