@model BasisForAppraisal_finalProject.DBML.tblForm

@{
    ViewBag.Title = "tblForm";
}
@Html.HiddenFor(x => x.formId)
@Html.HiddenFor(x=> x.Sections.Count)
@Html.HiddenFor(x => x.FormName)

<div id="Panel" dir="rtl" style="width:90%; ">
    <div style=" opacity:0.6; width:100%; height:10%; border-bottom-color:black; border-bottom-width:medium">
        <h1 class="text-center" dir="rtl">@Html.DisplayFor(x => x.FormName)</h1>
    </div>
    <h3>הקדמה:</h3>
    <h5 class="text-right" dir="rtl" style="border:groove; font-size:large; background-color:white">@Html.DisplayFor(x => x.IntroductionForForm, new { @cols = 100, @rows = 10 })</h5>
</div>



