@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}


    <div draggable="true">
    <div dir="rtl">
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.SectionId)
        @Html.HiddenFor(x => x.QuestionId)
        @Html.HiddenFor(x => x.QuestionType)
        @Html.HiddenFor(x => x.Title)
        @Html.DisplayFor(x => x.HelpText, new { @cols = 90, @rows = 2 })
        <br />
        @Html.DisplayFor(x => x.Title, new { @cols = 90, @rows = 2 })
    </div>
        @if (!Model.MandatoryQuestion && @Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
        {
            @Html.RadioButtonFor(a => a.selectedAnswer, -1)
            <p>איני יכול להעריך</p>
        }

    <!-----------------------------------------Type of IntetionalQuestion    --------------------------------------------///                      -->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
    {
        @Html.Partial("PreviewFormTemplate/_IntetionalQuestion")
    }

    <!----------------------------------- Part free text Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("FreeText"))
    {
        @Html.Partial("PreviewFormTemplate/_FreeTextQuestion")
    }

    <!----------------------------------- Part of Scale Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Scale"))
    {
        @Html.Partial("PreviewFormTemplate/_ScaleQuestion")
    }

    <!--------------------------- Part of  Muliti choise question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Equals("MultipleChoice"))
    {
        @Html.Partial("PreviewFormTemplate/_MultipleChoiceQuestion")
    }

    <!--------------------------- Part of  YesNo question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("YesNo"))
    {
        @Html.Partial("PreviewFormTemplate/_YesNoQuestion")
    }
    
    <!--------------------------- Part of  Cbx question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Cbx"))
    {
        @Html.Partial("PreviewFormTemplate/_CbxQuestion")
    }
    
   <!--------------------------- Part of  Muliti choise List question-------------------------------------------------------->
   @if (@Model.QuestionType != null && @Model.QuestionType.Contains("MultipleChoiceList"))
   {
      @Html.Partial("PreviewFormTemplate/_MultipleChoiceListQuestion")
   }
    
</div>

