 @model BasisForAppraisal_finalProject.ViewModel.Company.ClassUnitViewModel
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/external.js")" type="text/javascript"></script>




<button><span title="הוספת טופס לארגון" data-toggle="modal" data-target="#addForm" style="cursor:pointer;">הוספת טופס ליחידה</span></button>

           <!-- Modal -->
    <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:70%; margin-left:10%" dir="rtl">
    <div class=" modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="panel panel-default" dir="rtl" style="width:95%; margin-right:2%; margin-top:5%; margin-bottom:30%; text-align:center">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-size: 22px; ">רשימת טפסים</div>
                <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>
                <!---knafo-->
                <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right" >
                    <thead>
                        <tr style=" font-size:20px;">
                            <td align="center">שם</td>
                            <td align="center">מספר שאלות</td>
                            <td align="center">הוסף</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Forms)
                        {
                           
                            <tr>
                                <td align="center">@item.FormName</td>
                                <td align="center">@item.Sections.Count().ToString()</td>
                            @using (Html.BeginForm("AddConnector", "MainCompanies",new{companyid=Model.MyClass.companyId,unit=Model.MyClass.unitName,cl=Model.MyClass.className,formId=item.formId}, FormMethod.Post))
                            {
                                <td> <input type="submit" value="הוספת טופס זה" onclick="validate()"></td> 
                            }
                            </tr>
                        }
                      
                    </tbody>
                </table>
              
            </div>
            <div  >
                     <h7 style="margin-left:7%; margin-right:4%"> מנהל על עובדיו </h7> <h7 style ="margin-left:7%"> עובדים על עובדים</h7>
                     <h7 style="margin-left:7%">עובדים על מנהל</h7><h7 style="margin-left:5%">ניתן למלא על עצמך</h7>
                     <br/> 
                <input type="checkbox" id="manger"  style="margin-left:15%; margin-right:10%" />
                <input type="checkbox" id="workers" style="margin-right:3%" />
                <input type="checkbox" id="manger_workers" style="margin-right:22%" />
                <input type="checkbox" id="onHimself" style="margin-right:20%" />
                
        </div>
        </div>
     
    </div>
</div>
        

</div>





<script>

    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>

<script type="text/javascript">
    function validate() {
        alert("bla");
        var workers = false;
        var manager = false;
        var onManger = false;
        var onHimself = false;
        if (document.getElementById('manger').checked)
            manager = true;
        if (document.getElementById('workers').checked)
            workers = true;
        if (document.getElementById('manger_workers').checked)
            onManger = true;
        if (document.getElementById('onHimself').checked)
            onHimself = true;
              $.ajax({
            url: '@Url.Action("intalizeCheckBox", "MainCompanies")',
                  data: { workers: workers, manager: manager, onManger: onManger, onHimself: onHimself },
           
        });


    }
</script>
