@model IEnumerable<BasisForAppraisal_finalProject.DBML.tbl_Class>
@using BasisForAppraisal_finalProject.ViewModel.Company;
    @{
        ViewBag.Title = "CompanyUnit";
    }




    <div dir="rtl" style="margin-top:7%">
        <div style="width:100%; background-color: #888888 ; text-align:center">
            <h2>@ViewBag.name </h2>
        </div>



        <table class="table-condensed" style="background-color:#F0F0F0 ; font-size:22px; margin-right:0%; padding: 10px; border:solid; ">

            <tr>
                <th>
                    שם:
                </th>
                <th>
                    <h3>@ViewBag.name</h3>
                </th>
            </tr>
            <tr>
                <th>
                    כתובת חברה:
                </th>
                <th>
                    <h4>@ViewBag.adress</h4>
                </th>
            </tr>
            <tr>
                <th>
                    טלפון חברה:
                </th>
                <th>
                    <h4>@ViewBag.phone</h4>
                </th>
            </tr>


            <div dir="rtl" style="border:solid; width:247px;  background-color:#F0F0F0">

                @using (Html.BeginForm("Index", "MainCompanies", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    Session["companyId"] = ViewBag.id;
                    <label for="file" style="margin-right:36%">הוסף עובדים</label>
                    <br />
                    <input type="file" name="file" id="file" style="border:thick;" />
                    <br />
                    <input type="submit" value="העלה נתונים" onclick="JavascriptFunction();" style="margin-right:36%; " />
                }
            </div>
        </table>
    </div>

<br /><br />
        @for (int i = 0; i < Model.Count();i+=5 )
        { 
            @Html.Partial("_UnitFile", new FolderUnitPartialView(Model, i));
        }
 


    @if (Model.Count() < 1)
    {
        <h2 style="margin-left:35%">אין עובדים או מחלקות בחברה זו</h2>
    }


    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
           top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
            opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            טוען נתונים....<img src="~/photos/Uploading/ajax-loading.gif" />
        </p>
    </div>
    <script type="text/javascript" language="javascript">
        function JavascriptFunction() {
            $("#divLoading").show();
        }
    </script>
