@model IEnumerable< BasisForAppraisal_finalProject.DBML.tbl_Class>
@{
    ViewBag.Title = "CompanyUnit";
}

  
   

<div dir="rtl" style="margin-top:7%">
    <div style="width:100%; background-color: #888888 ; text-align:center">
         <h2>@ViewBag.name </h2>
    </div>

    
       
        <table class="table-condensed" style="background-color:#F0F0F0 ; font-size:22px; margin-right:0%; padding: 10px; border:solid; ">

            <tr>
                <th>
                    שם:
                </th>
                <th>
                    <h3>@ViewBag.name</h3>
                </th>
            </tr>
            <tr>
                <th>
                    כתובת חברה:
                </th>
                <th>
                    <h4>@ViewBag.adress</h4>
                </th>
            </tr>
            <tr>
                <th>
                    טלפון חברה:
                </th>
                <th>
                    <h4>@ViewBag.phone</h4>
                </th>
            </tr>
        
        </table>
        <div dir="rtl" style="border:solid; width:247px;  background-color:#F0F0F0">

            @using (Html.BeginForm("Index", "MainCompanies", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                Session["companyId"] = ViewBag.id;
                <label for="file" style="margin-right:36%">הוסף עובדים</label>
                <br />
                <input type="file" name="file" id="file" style="border:thick;"/>
                <br />
                <input type="submit" value="העלה נתונים" style="margin-right:36%;" />
            }
        </div>

   
    <div dir="rtl">
        <br /><br />
   
        <br />
        <table>
            </div>
            <tr>
                @foreach (var item in Model)
                {
                    <td style="margin-right:12%; width:32%">
                        @using (Html.BeginForm("ManageCompany", "MainCompanies", new { id = item.companyId, unit = item.unitName, cl = item.className }))
                        {

                            <button  type="submit" style="padding: 0; border: none; background-color:transparent; margin-right:10%" sty><img src="~/photos/folderIcon.png" style="cursor:pointer" /> </button>
                        }
                    </td>
                }
            </tr>
        </table>
        <table>
            <tr>
                @foreach (var item in Model)
                {
                    <td width="30%">
                        <label style="margin-left:0%;" >@item.unitName @item.className</label>
                    </td>


                }
            </tr>
        </table>



       

    </div>
</div>

@if(Model.Count() <1)
{
    <h2 style="margin-left:35%">אין עובדים או מחלקות בחברה זו</h2>
}
    

