@model IEnumerable< BasisForAppraisal_finalProject.DBML.tbl_Class>
@{
    ViewBag.Title = "CompanyUnit";
}

  
   

<div dir="rtl" style="margin-top:7%">
    <div style="width:100%; background-color: cornflowerblue; text-align:center">
         <h2>@ViewBag.name </h2>
    </div>


    <table class="table-condensed" style="background-color:ButtonFace; font-size:22px; margin-right:10%; padding: 10px;  ">
        <tr>
            <th>
                שם:
            </th>
            <th>
                <h3>@ViewBag.name</h3>
            </th>
        </tr>
        <tr>
            <th>
               כתובת חברה:
            </th>
            <th>
                <h4>@ViewBag.adress</h4>
            </th>
        </tr>
        <tr>
            <th>
               טלפון חברה:
            </th>
            <th>
                <h4>@ViewBag.phone</h4>
            </th>
        </tr>
    </table>
    <div dir="rtl">
        <br /><br />
        <div dir="rtl" style="border:double; width:220px; margin-right:40%;">
            @using (Html.BeginForm("Index", "MainCompanies", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                Session["companyId"]=ViewBag.id;
                <label for="file" style="margin-right:36%">הוסף עובדים</label>
                <br />
                <input type="file" name="file" id="file" />
                <br />
    <input type="submit" value="העלה נתונים" onclick="JavascriptFunction();" style="margin-right:36%; " />
            }
        </div>
      
        <td>

            @foreach (var item in Model)
            {

                using (Html.BeginForm("ManageCompany", "MainCompanies", new { id = item.companyId, unit = item.unitName, cl = item.className }))
                {
                   
                    <button type="submit" style="padding: 0; border: none; background-color:transparent"><img src="~/photos/folderIcon.png" style="cursor:pointer" /> </button>
                }

            }
        </td>
        <br />
        @foreach (var item in Model)
        {
            <label style="margin-right:2%">@item.unitName @item.className</label>

        }

    </div>
</div>

@if(Model.Count() <1)
{
    <h2 style="margin-left:35%">אין עובדים או מחלקות בחברה זו</h2>
}


<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
           top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
            opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        Loading, please wait...<img src="~/photos/Uploading/ajax-loading.gif" />
    </p>
</div>
<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        $("#divLoading").show();
    }
</script>
    

