@model IEnumerable<BasisForAppraisal_finalProject.DBML.tbl_Company>

@{
    ViewBag.Title = "MainCompanies";
}
<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">
@Styles.Render("~/Content/bootstrapcss")
@Styles.Render("~/Content/themes/base/css")
<div dir="rtl" style="text-align:center;">




    <div class="panel panel-default" dir="rtl" style="width:80%; margin-right:10%; margin-top:5%; margin-bottom:30%; text-align:center">
      
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 22px;  ">רשימת לקוחות</div>
         <div style="margin-right:85%">  @Html.ActionLink("הוסף חברה חדשה", "addCompanie")</div>
        <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>
      
        <!---knafo-->
        <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
            <thead>
                <tr style=" font-size:20px;">
                    <td align="center">שם</td>
                    <td align="center">כתובת</td>
                    <td align="center">טלפון</td>
                    <td align="center">מספר עובדים</td>
                    <td align="center">מחיקה</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">@Html.ActionLink(item.comapnyName, "ManageCompany", new { @id = item.companyId })</td>
                        <td align="center">@item.comapnyAddress</td>
                        <td align="center">@item.comapnyPhone</td>
                        <td align="center">@item.Employees.Count</td>
                        <td><p><span class="glyphicon glyphicon-trash" title="תצוגה מקדימה" data-toggle="modal" data-target="#@item.companyId" style="cursor:pointer;"></span></p></td>
                    </tr>
                }
            </tbody>
        </table>

        <script>

            var table = $('#myTable').DataTable();
            new $.fn.dataTable.KeyTable(table);

        </script>
    </div>
    </div>

