@model  BasisForAppraisal_finalProject.ViewModel.Company.ClassUnitViewModel
@{
    ViewBag.Title = "ManageCompany";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />  
<link href="~/Content/FontStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />

      
<div dir="rtl" style="margin-top:3%">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" style=" text-align:center;font-size:24px;"><strong>@Model.MyClass.tbl_Unit.tbl_Company.comapnyName </strong></h3>
        </div>
    </div>
</div>

<div dir="rtl">
    <div class="panel panel-warning" style="width:44%; height:135px; text-align:center; margin-right:33%;margin-top:3%">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>פרטי מחלקה</strong> </h3>
        </div>
        <table class="table-condensed">
            <tr>
                <h4><strong> שם חברה: </strong>@Model.MyClass.tbl_Unit.tbl_Company.comapnyName</h4>
            </tr>

            <tr>
                <h4><strong> יחידה: </strong>@Html.DisplayFor(x => x.MyClass.unitName)</h4>
            </tr>
            <tr>
                <h4><strong> מחזור: </strong>@Html.DisplayFor(x => x.MyClass.className)</h4>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-warning" style="width:32%; height:135px; text-align:center; margin-left:30%;margin-top:1%">
    <div class="panel-heading">

        <h3 class="panel-title"><strong>פעולות נוספות</strong> </h3>
    </div>
  
    @Html.Partial("_partialAddFormToUnit", Model)
   
    @using (Html.BeginForm("Index", "SendMailer", new { id = Model.MyClass.companyId, unit = Model.MyClass.unitName, cl = Model.MyClass.className }, FormMethod.Post))
    {

        <input class="btn btn-info" type="submit" style="margin-top:2%; width:145px; text-align:center;" value="שלח טופס לאנשי קשר" />
    }
</div>
@Html.EditorFor(x=>x.MyClass)







