@model BasisForAppraisal_finalProject.ViewModel.FormViewModel

@{
    ViewBag.Title = "IntentionalFormWorkshop";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script type="text/javascript">
    $(function () {
        setTimeout(function () { $("#success-alert").fadeOut(1500); }, 2500)
        $('#btnclick').click(function () {
            $('#testdiv').show();
            setTimeout(function () { $("#testdiv").fadeOut(1500); }, 2500)
        })
    })
</script>


 @if (TempData["Success"] != null)
{
  
   <div class="alert alert-success" id="success-alert">
    <strong dir="rtl" >@TempData["Success"] </strong>
</div>
}
 



    <!-- Add button -->
    <div style="text-align: right; margin-left:79%; margin-top:17%; position:fixed">
        

        <button type="button" class="btn btn-primary btn-lg" title="הוספת שאלה" data-toggle="modal" data-target="#myModal" style="font-size: 18px; width: 200px;  background-color: AppWorkspace">
            <img src="~/photos/addQues.png" />
        </button>
            <!-- Preview button -->
        <button type="button" class="btn btn-primary btn-lg" title="תצוגה מקדימה" style=" margin-top:3%; 18px; width: 200px;  background-color: AppWorkspace">
            <img src="~/photos/previewForm.png" />
        </button>

    @using (Html.BeginForm())
    {
         <button type="submit" class="btn btn-primary btn-lg" title="back to manage Forms" data-toggle="modal" data-target="#exit" style="margin-top: 3%;font-size: 18px; width: 200px; background-color: AppWorkspace">
            <img src="~/photos/backTo.png" />
        </button>
        <div style=" margin-left: 93%; margin-top: 3%; ">
            <button type="submit" name="save" value="Save" class="btn btn-primary btn-lg" title="שמירת טופס" style=" position: fixed; font-size: 18px; width: 195px; background-color: AppWorkspace"><img src="~/photos/saveForm.png" /></button>
        </div>
        <div id="Panel" style="width: 90%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.EditorFor(x => x.form)
                    @Html.EditorFor(a => a.IntentionalQuestions)
                </div>
            </div>
        </div>
        
         <!-- Modal -->
<div class="modal fade" id="exit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" dir="rtl">do you want the save the changes?</h4>
            </div>
            <div class="modal-body">
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור וצא</button>
                    <button type="submit" name="exit" value="Save and Close" class="btn btn-primary">שמור וצא</button>
                </div>
        
        </div>
    </div>
</div>

    }

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" dir="rtl">שאלה חדשה</h4>
                </div>
                @using (Html.BeginForm("addNewQuestion", "MainFormCreator", FormMethod.Post))
                {  <div class="modal-body">
                    @Html.HiddenFor(s => s.formId)
                    @Html.EditorFor(b => b.NewQuestion)
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">שמור שאלה</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- popup preview -->
    <div class="modal fade" id="Preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog" style="width:95%">

            <div class=" modal-content" style="width:95%">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:xx-large;  text-shadow:inherit; margin-right:2%; margin-top:1%;" st><span aria-hidden="true">&times;</span></button>
                <div class="modal-header" style="width:95%"></div>
                <h4 class="modal-title" id="myModalLabel" dir="rtl" style="font-size:xx-large;  text-shadow:inherit; margin-left:50%; color:blue;">מצב תצוגה</h4>

                @using (Html.BeginForm())
                {
                    <div id="Panel" style="width: 90%; margin-left:2%">
                        <div class="panel panel-default" style="margin-left:0%;width: 100%;">
                            <div class=" panel-heading" style="margin-left:0%;width: 100%;">

                                <h4 style="font-size:xx-large;  text-shadow:inherit; margin-left:50%; color:darkblue;font-weight:bold;">@Model.form.FormName</h4>
                                @foreach (BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion question in Model.IntentionalQuestions)
                                {
                                    Html.RenderPartial("~/Views/MainFormCreator/_intetionalQusestionPartial.cshtml", question);
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


 