@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}


    <div draggable="true">
    <div dir="rtl">
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.SectionId)
        @Html.HiddenFor(x => x.QuestionId)
        @Html.HiddenFor(x => x.QuestionType)
        @Html.HiddenFor(x => x.Title)
        <h4>שאלה</h4>
        @Html.DisplayFor(x => x.Title, new { @cols = 90, @rows = 2 })
    </div>


    <!-----------------------------------------Type of IntetionalQuestion    --------------------------------------------///                      -->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
    {
        @Html.Partial("QuestionTemplate/_IntetionalQuestion")
    }

    <!----------------------------------- Part free text Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("FreeText"))
    {
        @Html.Partial("QuestionTemplate/_FreeTextQuestion")
    }

    <!----------------------------------- Part of Scale Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Scale"))
    {
        @Html.Partial("QuestionTemplate/_ScaleQuestion")
    }

    <!--------------------------- Part of  Muliti choise question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("MultipleChoice"))
    {
        @Html.Partial("QuestionTemplate/_MultipleChoiceQuestion")
    }

    <!--------------------------- Part of  YesNo question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("YesNo"))
    {
        @Html.Partial("QuestionTemplate/_YesNoQuestion")
    }
    
    <!--------------------------- Part of  Cbx question--------------------------------------------------------->
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Cbx"))
    {
    @Html.Partial("QuestionTemplate/_CbxQuestion")
    }
</div>















