@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion

<div dir="rtl" style="border-bottom: solid;">
    @if (@Model.Answers.Count() > 0)
    {
        @*@Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[0].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; margin-left: 50px;" })*@
        for (int i = 0; i < @Model.Answers.Count; i++)
        {
            @Html.CheckBoxFor(a => a.Answers[i].AnswerOptionWrapper, new { style = "height: 20px;  width:20px; margin-left:20px;" })
            @Html.TextBoxFor(x => x.Answers[i].Text)
            @Html.HiddenFor(x => x.Answers[i].AnswerId)
            if (Model.Answers[i].AnswerId != 0)
            {
                <button type="submit" class="btn btn-danger" name="del" value="@Model.Answers[i].AnswerId">X</button>
            }
            <br />
            <br />
        }
            <button type="submit" name="question" value="@Model.QuestionNumberInForm AddAnswer" class="glyphicon glyphicon-plus" style="width:inherit"></button>


    }
    <div style="margin-bottom:2%;"></div>
</div>
