
@{
    ViewBag.Title = "ReportForOrganiztion";
}


<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/FontStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>

<div dir="rtl" style="margin-top:10%">
    <h2>דוח לארגון</h2>
    <h4>רמה בארגון:</h4>
    @using (Html.BeginForm("ReportForOrganiztion", "ExportData", FormMethod.Post))
    {
            @Html.DropDownList("levels", ViewData["Levels"] as List<SelectListItem>, new { @class = "btn-lg dropdown-toggle", id = "levels" })

        <div style="width:40%; margin-top:2%">
            <div class="row-border">

                <div  style="margin-left:3%">חברה:  @Html.DropDownList("Companyiesa", ViewData["ListData"] as List<SelectListItem>, new { @class = "btn-lg dropdown-toggle", id = "Companyies" })</div>

            </div>

            <div class="row-border" style=" margin-top:2%">

                <div id="unitTd" class="collapse" style="margin-left:3%;">@*שנה:    @Html.DropDownList("units", ViewData["ListData"] as List<SelectListItem>, new { @class = "btn-lg dropdown-toggle", id = "units" })*@</div>
            </div>
            <div class="row-border" style=" margin-top:2%">
                <div id="clsTd" class="collapse" style="margin-left:3%;">
    <div id="class"></div>@*מחזור: @Html.DropDownList("units", ViewData["ListData"] as List<SelectListItem>, new { @class = "btn-lg dropdown-toggle", id = "units" })*@</div>
            </div>
        </div>
        
        <br />
        <div id="formCheckList" class="col-lg-5" style="margin-top:2%"></div>
        @Html.CheckBox("noCalculation", new { style = "height: 20px;  width:20px;" })
    <p>הצגת דוח מהירה</p>
    }

    <script type="text/javascript">

        $("#Companyies").change(function () {
            var sv = $(this).val();
            var level = $("#levels").val();
            if (sv != null && level >0) {
                $.ajax(
                    {
                        url: '@Url.Action("GetFromsForOrganiztion")',
                        type: "get",
                        data: { organiztionid: sv }

                    }).done(function (data) {
                        $("#formCheckList").html(data);
                    });
            }
             if (level > 1)
            {
                $.ajax(
                   {
                       url: '@Url.Action("GetUnitCascadeCompanyOrg")',
                       type: "get",
                       data: { id: sv }

                   }).done(function (data) {
                       $("#unitTd").html(data);
                   });
            }
        });



        $("#levels").change(function () {
            var sv = $(this).val();
            if (sv != null) {
                if (sv == 1) {
                    $("#unitTd").addClass("collapse");;
                    $("#clsTd").addClass("collapse");
                }
                if (sv == 2) {
                    $("#unitTd").removeClass("collapse");
                    $("#clsTd").addClass("collapse");
                }
                if (sv == 3) {
                    $("#unitTd").removeClass("collapse");
                    $("#clsTd").removeClass("collapse");
                }
               
            }
        });


        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").toggle(500)
            });
        });

    </script>

    

</div>


