

@model IEnumerable<BasisForAppraisal_finalProject.DBML.tblForm>

@{
    ViewBag.Title = "MainFormManagment";
}
<script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
<script src="~/Scripts/DataTable/jquery.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />


<meta name="viewport" content="width=device-width, initial-scale=1">
@Styles.Render("~/Content/bootstrapcss")
@Styles.Render("~/Content/themes/base/css")
<div dir="rtl" style="text-align:center;">
    <h2>ניהול טפסים</h2>



    <!-- navbar-->

    <nav class="navbar navbar-default">
        <div class="container-fluid" dir="ltr">
            <!-- Brand and toggle get grouped for better mobile display -->
           

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <div style="margin-right:90%;">
                        @using(Html.BeginForm("addNewForm", "ManageForm",FormMethod.Post))
                        {
                        <button type="submit" class="btn btn-primary btn-lg" style="width:150px;"><img src="~/photos/newForm.png" /></button>
                        }
    </div>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">סוגי טפסים <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">מכוון</a></li>
                            <li><a href="#">מספר אפשרויות</a></li>
                            <li><a href="#">דירוג</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

   





        <div class="panel panel-default" dir="rtl" style="width:80%; margin-right:10%; margin-top:5%; margin-bottom:30%; text-align:center">
        <!-- Default panel contents -->

            <div class="panel-heading" style="font-size: 22px; ">רשימת טפסים</div>

            <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>
            <!---knafo-->

            <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
                <thead>
            <tr style=" font-size:20px;">
                <td align="center">שם</td>
                            <td align="center">מספר שאלות</td>
                            <td align="center">מחיקה</td>
            </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
{
                <tr>
                        <td align="center">@Html.ActionLink(item.FormName, "Edit", new { @id = item.formId })</td>
                       <td align="center">@item.Questions.Count().ToString()</td>
                  
        <td><p><span class="glyphicon glyphicon-trash" title="תצוגה מקדימה" data-toggle="modal" data-target="#@item.formId" style="cursor:pointer;"></span></p></td>

             </tr>
}
                </tbody>
            </table>


            <script>

                var table = $('#myTable').DataTable();
                new $.fn.dataTable.KeyTable(table);

            </script>
            <!----------------------------------------------------------------------------------------------------------------->
            
            
            
                </div>     


@foreach (var item in Model)
{

            <!-- Modal -->
            <div class="modal fade" id=@item.formId tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:red;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;">האם אתה בטוח שאתה רוצה למחוק את הטופס : </h4>
                            <h4 class="modal-title" id="myModalLabel" dir="rtl" style="color:white;">@item.FormName?</h4>
                        </div>
                        @using (Html.BeginForm("DeleteForm", "ManageForm", new { id = item.formId }, FormMethod.Post))
                        {  <div class="modal-body">
                               <button type="submit" class="btn btn-primary" style="background-color:red;">מחק</button>
                             <button type="button" class="btn btn-default" data-dismiss="modal">בטל</button>
                        </div>
                           
                        }

                    </div>
                </div>
            </div>
           
         
}

