@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}

   
    <table class="table" dir="rtl">
        <div dir="rtl">
            @Html.HiddenFor(x => x.FormId)
            @Html.EditorFor(x => x.QuestionId)
            @Html.EditorFor(x => x.Title)
            </div>
            @Html.ActionLink("Edit", "deleteQustion", new { @formID = Model.FormId, @quesNumber = Model.QuestionId }) |
            @Html.ActionLink("Delete", "deleteQustion", new { @formID = Model.FormId, @quesNumber = Model.QuestionId })
        <tr dir="rtl">

            <br />
            <br />
            @for (int i = 0; i < Model.Answers.Count(); i++)
            {
                <th dir="rtl">
                    @Html.EditorFor(x => x.Answers[i])
                </th>
            }

        </tr>
    </table>


























