@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}


    <div draggable="true">
    <div dir="rtl">
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.SectionId)
        @Html.HiddenFor(x => x.QuestionId)
        @Html.HiddenFor(x => x.QuestionType)
        <h4>שאלה</h4>
            @Html.TextAreaFor(x => x.Title,new { @cols = 90, @rows = 2 })
    </div>
        <strong>חובה   </strong>
        @Html.CheckBoxFor(x => x.MandatoryQuestion, new { style = "height: 20px;  width:20px; margin-left:0.5%;" })
        <br />
    @if (Model.QuestionId > 0)
    {
        @*@Html.ActionLink("ערוך", "upload_excelfile", new { @path = "rrr" })*@

        <table>
            <tr>
                <th>מחיקה</th>
                <th>  @Html.CheckBoxFor(x => x.deleteQuestion, new { style = "height: 20px;  width:20px; margin-left:2%;" })</th>
            </tr>
        </table>
    }
    
    <!--////////---------------------------------------Type of question --------------------------------------------///                      -->
   
        
         @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
    {
        <table class="table" dir="rtl" style="border-top: hidden; border-bottom: solid;">
            <tr dir="rtl">
                @for (int i = 0; i < Model.Answers.Count(); i++)
                {
                    <th dir="rtl">
                        @if (i != 1 && i != 3 || Model.Answers.Count() <= 3)
                        {
                            @Html.EditorFor(x => x.Answers[i])
                            @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 25px;  width:25px; margin-left: 35%; margin-top: 10px;" })
                        }
                        else
                        {

                            @Html.HiddenFor(x => x.Answers[i].FormId)
                            @Html.HiddenFor(x => x.Answers[i].QuestionId)
                            @Html.HiddenFor(x => x.Answers[i].AnswerId)
                            @Html.HiddenFor(x => x.Answers[i].Score)
                            @Html.HiddenFor(x => x.Answers[i].AnswerOption)
                            @Html.HiddenFor(x => x.Answers[i].Text, new { style = "height: 200px;  width:200px; margin-left:13%" })
                            @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 25px;  width:25px; margin-left: 40%; margin-top: 210px;" })
                        }
                    </th>
                }
            </tr>
        </table>
    }
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("FreeText"))
    {
        <div dir="rtl" style="border-bottom: solid;">
            <br />
            <br />
            @Html.EditorFor(x => x.Answers[0])
            <div style="margin-bottom:2%;"></div>
        </div>
    }
    
    <!----------------------------------- Part of Scale Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Scale"))
    {
        <div dir="rtl" style="border-bottom: solid;">
            <br />
            <br />
            @if (@Model.NumberOfAnswers == 2)
            {

                @Html.EditorFor(x => x.NumberOfAnswers)
                <br />
                <br />
                @Html.TextBoxFor(x => x.Answers[0].Text, new { placeholder = "תג לערך מקסימלי" })
                <br />
                <br />
                @Html.TextBoxFor(x => x.Answers[1].Text, new { placeholder = "תג לערך מינימלי" })

            }
            else
            {
                <table>
                    <tr>
                        
                            @if(Model.Answers.Count>0)
                            {
                                <th>
                               @Html.TextBoxFor(x => x.Answers[0].Text)
                           
                        </th>
                        for (int i = 0; i < @Model.Answers.Count; i++)
                        {
                            <th>
                                @Html.HiddenFor(x => x.Answers[i].AnswerId)
                                @Html.HiddenFor(x => x.Answers[i].AnswerOption)
                                @Html.HiddenFor(x => x.NumberOfAnswers)
                                @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; margin-left: 50px;" })
                            </th>
                        }
                        <th>
                            @Html.TextBoxFor(x => x.Answers[Model.Answers.Count - 1].Text)
                        </th>
                            }
                    </tr>
                </table>
            }
            <div style="margin-bottom:2%;"></div>
        </div>
    }
    
        <!--------------------------- Part of  Muliti choise question--------------------------------------------------------->

        @if (@Model.QuestionType != null && @Model.QuestionType.Contains("MultipleChoice"))
        {
            <div dir="rtl" style="border-bottom: solid;">
                @if (@Model.Answers.Count()>0)
                {
                    <br />
                    @*@Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[0].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; margin-left: 50px;" })*@
                    for (int i = 0; i < @Model.Answers.Count; i++ )
                    { 
                     @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[i].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; margin-left: 50px;" })
                    @Html.TextBoxFor(x => x.Answers[i].Text)
                    @Html.HiddenFor( x => x.Answers[i].AnswerId)
                     <button type="submit" class="btn btn-danger" name="submit" value="@Model.Answers[i].AnswerId">X</button>
                    <br />
                     <br />
                    }

                }
                <div style="margin-bottom:2%;"></div>
            </div>
        }
        
        <!--------------------------- Part of  YesNo question--------------------------------------------------------->
        @if (@Model.QuestionType != null && @Model.QuestionType.Contains("YesNo"))
        {
            <div dir="rtl" style="border-bottom: solid;">
                @if (@Model.Answers.Count() == 2)
                {
                    <br />
                    @Html.HiddenFor(x => x.Answers[0].AnswerOption)
                    @Html.HiddenFor(x => x.Answers[1].AnswerOption)
                      @Html.HiddenFor(x => x.Answers[0].AnswerId)
                    @Html.HiddenFor(x => x.Answers[1].AnswerId)
    <table>
        <tr>
            <td style="width:70px;">
                @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[0].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; " })
            </td>
            <th>
                @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[1].AnswerId, new { style = "height: 20px;  width:20px; margin-top: 10px; " })
            </th>
        </tr>
        <tr>
            <td style="width:70px;">
                כן
            </td>
            <td>
              לא
            </td>
        </tr>
    </table>
                         <br />
                        <br />
                    

                }
                <div style="margin-bottom:2%;"></div>
            </div>
        }
</div>
    @*<div style=" margin-left: 73%; border-bottom:groove">
            <p dir="ltr" style="font-size:20px;">
                מתקשה להעריך
                @Html.DisplayText("מתקשה להעריך")
                @Html.RadioButtonFor(a => a.selectedAnswer, Model.Answers[0].AnswerId, new { style = "height: 25px;  width:25px;" })
            </p>
        </div>*@














