@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   

    <table class="table" dir="rtl">
        <div dir="rtl">
            @Html.HiddenFor(x => x.FormId)
            <h4>שאלה</h4>
            @Html.TextAreaFor(x => x.Title, new { style = "height: 60px;  width:300px;" })
            </div>
            @Html.ActionLink("Edit", "deleteQustion", new { @formID = Model.FormId, @quesNumber = Model.QuestionId }) |
            @Html.ActionLink("Delete", "deleteQustion", new { @formID = Model.FormId, @quesNumber = Model.QuestionId })
        <tr dir="rtl">

            <br />
            <br />
            @for (int i = 0; i < Model.Answers.Count(); i++)
            {
                <th dir="rtl">
                    @Html.EditorFor(x => x.Answers[i])
                    @*@Html.RadioButton("templateId", new { value = Model.Answers[i].AnswerOption, @name = "a", @id = "s", @class ="d" })*@
                </th>
            }

        </tr>
    </table>


























