@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}
@*<link href="~/Content/FontStyle.css" rel="stylesheet" />*@
@if(ViewBag.NV!= null)
{ 
@*<button type="submit" name="question" value="@Model.QuestionId edit" class=" glyphicon glyphicon-pencil"></button>*@
<button type="submit" name="question" value="@Model.QuestionNumberInForm delete" class="glyphicon glyphicon-trash"></button>
}

    <div draggable="true" class="newEdit s" >
    <div dir="rtl" >
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.SectionId)
        @Html.HiddenFor(x => x.QuestionId)
        @Html.HiddenFor(x => x.QuestionType)
        @Html.HiddenFor(x => x.QuestionNumberInForm)
        <h6>כותרת</h6>
        @Html.TextAreaFor(x => x.HelpText, new { @cols = 90, @rows = 2 })
        <h6>שאלה</h6>
            @Html.TextAreaFor(x => x.Title,new { @cols = 90, @rows = 2 })
    </div>
        <table>
                <td>
                @Html.CheckBoxFor(x => x.MandatoryQuestion, new { style = "height: 20px;  width:20px; margin-left:0%;dis" })
                <strong>חובה    </strong>
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.ForManager, new { style = "height: 20px;  width:20px; margin-left:0%;dis" })
                    <strong>  מוביל </strong>
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.ForAccompanied, new { style = "height: 20px;  width:20px; margin-left:0%;dis" })
                    <strong>מלווה   </strong>
                </td>
        </table>
        
    @*@if (Model.QuestionId > 0)
    {
       
        <div name="box" >
            <table>
                <tr>

                    <th>  @Html.CheckBoxFor(x => x.deleteQuestion, new { style = "height: 20px;  width:20px; margin-left:2%;" })</th>
                    <th><strong>מחיקה </strong></th>
                </tr>
            </table>
        </div>
    }*@
        @if (!Model.MandatoryQuestion && @Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))   
        {
            @Html.RadioButtonFor(a => a.selectedAnswer, -1)
            <p>איני יכול להעריך</p>
        }
    
    <!-----------------------------------------Type of IntetionalQuestion    --------------------------------------------///                      -->
   
        
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
    {
       @Html.Partial("QuestionTemplate/_IntetionalQuestion")
    }
    
    <!----------------------------------- Part free text Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("FreeText"))
    {
       @Html.Partial("QuestionTemplate/_FreeTextQuestion")
    }
    
    <!----------------------------------- Part of Scale Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Scale"))
    {
          @Html.Partial("QuestionTemplate/_ScaleQuestion")
    }
    
   <!--------------------------- Part of  Muliti choise question--------------------------------------------------------->

    @if (@Model.QuestionType != null && (@Model.QuestionType.Equals("MultipleChoice")|| @Model.QuestionType.ToLower().Contains("social")))
    {
         @Html.Partial("QuestionTemplate/_MultipleChoiceQuestion")
    }
        
   <!--------------------------- Part of  YesNo question--------------------------------------------------------->
   @if (@Model.QuestionType != null && @Model.QuestionType.Contains("YesNo"))
   {
      @Html.Partial("QuestionTemplate/_YesNoQuestion")
   }
   
   <!--------------------------- Part of  Cbx question--------------------------------------------------------->
   @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Cbx"))
   {
       @Html.Partial("QuestionTemplate/_CbxQuestion")
   }
   
  <!--------------------------- Part of  Muliti choise List question-------------------------------------------------------->
  @if (@Model.QuestionType != null && (@Model.QuestionType.Contains("MultipleChoiceList")))
  {
      @Html.Partial("QuestionTemplate/_MultipleChoiceListQuestion")
  }
  
</div>
   














