@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "tbl_IntentionalQuestion";
}
<link href="~/Content/FontStyle.css" rel="stylesheet" />


    <div draggable="true">
    <div dir="rtl">
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.SectionId)
        @Html.HiddenFor(x => x.QuestionId)
        @Html.HiddenFor(x => x.QuestionType)
        <h4>שאלה</h4>
            @Html.TextAreaFor(x => x.Title,new { @cols = 90, @rows = 2 })
    </div>
        
        @Html.CheckBoxFor(x => x.MandatoryQuestion, new { style = "height: 20px;  width:20px; margin-left:0%;" })
        <strong>חובה </strong>
        <br />
    @if (Model.QuestionId > 0)
    {
        @*@Html.ActionLink("ערוך", "upload_excelfile", new { @path = "rrr" })*@

        <table>
            <tr>
                
                <th>  @Html.CheckBoxFor(x => x.deleteQuestion, new { style = "height: 20px;  width:20px; margin-left:2%;" })</th>
               <th><strong>מחיקה </strong></th>
            </tr>
        </table>
    }
    
    <!-----------------------------------------Type of IntetionalQuestion    --------------------------------------------///                      -->
   
        
         @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Intentional"))
    {
       @Html.Partial("QuestionTemplate/_IntetionalQuestion")
    }
    
    <!----------------------------------- Part free text Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("FreeText"))
    {
       @Html.Partial("QuestionTemplate/_FreeTextQuestion")
    }
    
    <!----------------------------------- Part of Scale Question------------------------------------------------------------>
    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("Scale"))
    {
          @Html.Partial("QuestionTemplate/_ScaleQuestion")
    }
    
   <!--------------------------- Part of  Muliti choise question--------------------------------------------------------->

    @if (@Model.QuestionType != null && @Model.QuestionType.Contains("MultipleChoice"))
    {
         @Html.Partial("QuestionTemplate/_MultipleChoiceQuestion")
    }
        
   <!--------------------------- Part of  YesNo question--------------------------------------------------------->
   @if (@Model.QuestionType != null && @Model.QuestionType.Contains("YesNo"))
   {
      @Html.Partial("QuestionTemplate/_YesNoQuestion")
   }
</div>
   














