@model BasisForAppraisal_finalProject.DBML.tblForm

@{
    ViewBag.Title = "tblForm";
}
@Html.HiddenFor(x => x.formId)
@Html.HiddenFor(x=> x.Questions.Count)
@Html.HiddenFor(x => x.NewQuestion.QuestionId)

<div id="Panel" style="border: groove;  width:85%; ">
    <h1 class="text-center" dir="rtl">@Html.EditorFor(x => x.FormName)</h1>

</div>
@Html.HiddenFor(x => x.NewQuestion)

