@model BasisForAppraisal_finalProject.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/FontStyle.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="row">
        <div class="col-md-8">
            <div dir="rtl" class=" col-lg-10" style="align-content: center;margin-left:15%; margin-top:4%">
                <img src="~/photos/Logo/Basis_For_evaluation%20_logo.jpg" />
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <strong style="margin-left:72%; margin-top:4%;">  שם משתמש</strong>
                    <div style="margin-left:64%; width:200px;" dir="rtl">

                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-md-5" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div  >
                    <strong style="margin-left:74%;">  סיסמא</strong>
                    <div style="margin-left:64%; width:200px;"dir="rtl">

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div >
                        <input type="submit" value="כניסה" class="btn btn-info" style="margin-top:2%; margin-left:71%;font-size:22px; font-family:My Custom Font"/>
                    </div>
                </div>
                
            }
        </div>
        </div>
</body>
</html>
