@model  BasisForAppraisal_finalProject.ViewModel.ExportData.ReportForUnitViewModel

@using BasisForAppraisal_finalProject.DBML;
@{
    ViewBag.Title = "ReportPerUnit";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(GetLines);

    function GetLines() {
        var Companyid = +document.getElementById('Companyid').value;
        var formid = +document.getElementById('formid').value;
        var unitName = document.getElementById('unitName').value;
        var getReportColumnsParams = {
            "companyId": Companyid,
            "form": formid,
            "unit": unitName,
        };
        $.ajax({
            type: "Get",
            traditional: true,
            async: false,
            cache: false,
            url: 'GetReportsLinesForUnit',
            data: getReportColumnsParams,
            success: function (data) {
                drawChart(data);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        })
    };

    function drawChart(list) {

        var numberOfQuestions = +document.getElementById('numberOfQuestions').value;
        for (i = 0; i < numberOfQuestions; i++) {
            var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['עומד בצפיות', list[i].HighScore],
              ['עומד חלקית בצפיות', list[i].MidScore],
              ['לא עוד בציפיות', list[i].LowScore],
            ]);

            var options = {
                //title: list[i].TitleQuestion,
                pieHole: 0.2,
                colors: ['#4CC417', '#C0C0C0', '#FF0000'],
                pieSliceTextStyle: {
                    color: 'black',
                },
            };


            var chart_div = document.getElementById(list[i].QuestionId);
            var chart = new google.visualization.PieChart(document.getElementById(list[i].QuestionId));


            // Wait for the chart to finish drawing before calling the getImageURI() method.
            //google.visualization.events.addListener(chart, 'ready', function () {
            //    chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
            //    console.log(chart_div.innerHTML);
            //});

            chart.draw(data, options);
        }
    }
</script>



<input id="numberOfQuestions" value="@Model.numberOfCharts" class="collapse"></input>
<input id="Companyid" value="@Model.ReportForUnitModel.companyId" class="collapse"></input>
<input id="formid" value="@Model.ReportForUnitModel.FormId" class="collapse"></input>
<input id="unitName" value="@Model.ReportForUnitModel.unitName" class="collapse"></input>
<div dir="rtl" style="margin-top: 10%; align-items: center">
    <div class="row" style="border:inset">
        <br />
        <h2 class="col-lg-12">ארגון: @Model.ReportForUnitModel.companyId</h2>
        <h2 class="col-lg-12">יחידה: @Model.ReportForUnitModel.unitName</h2>
        <h2 class="col-lg-12">שאלון: @Model.ReportForUnitModel.tblForm.FormName </h2>
        <h4 class="col-lg-12">עודכן לאחרונה: @Model.ReportForUnitModel.LastCalculationDate.ToString("MMMM dd, yyyy")</h4>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        @foreach (tbl_TypeQuestion catgoryName in Model.Categories)
        {

            if (catgoryName.Name.StartsWith("Int"))
            {
                <li role="presentation" class="active"><a href="#@catgoryName.Name" aria-controls="profile" role="tab" data-toggle="tab">@catgoryName.Description</a></li>
            }
            else
            {
                <li role="presentation"><a href="#@catgoryName.Name" aria-controls="profile" role="tab" data-toggle="tab">@catgoryName.Description</a></li>
            }
        }
    </ul>

    <div class="tab-content">
        @foreach (string c in Model.CategoriesDictionaryLines.Keys)
        {

            <div role="tabpanel" class="row tab-pane fade in active" id="@c">
                @foreach (ReportForUnitLine line in Model.CategoriesDictionaryLines[c])
                {
                    <div>@line.tbl_IntentionalQuestion.Title</div>
                    @*<button onclick="saveAsImg($('#' + @line.QuestionId.ToString()));">Save as PNG Image</button>*@
                    <div id="@line.QuestionId" class="col-sm-pull-3" style="border-bottom:groove"></div>

                }
                @if (c == "Socialstatus" || c == "EmploymentStatus")
                {
                    var r = (c == "Socialstatus") ? -1 : -2;
                    <div>מסכם:@c </div>
                    <div id="@r" class="col-sm-pull-1" style="border-bottom:groove"></div>
                }
                @if (c == "MultipleChoiceList")
                {
                    foreach (ReportForUnitMultipleChoiceListAnswer line in Model.MultipleChoiceListAnswer)
                    {
                        <div>@line.tbl_IntentionalAnswer.Text</div>
                        <div id="@line.AnswerId" class="col-sm-pull-1" style="border-bottom:groove"></div>

                    }
                }
            </div>
        }
    </div>
</div>