@model  BasisForAppraisal_finalProject.ViewModel.ExportData.ReportForOrgViewModel

@using BasisForAppraisal_finalProject.DBML;
@{
    ViewBag.Title = "ReportPerOrganiztion";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(GetLines);

    function GetLines() {
        var Companyid = +document.getElementById('Companyid').value;
        var formid = +document.getElementById('formid').value;
        var getReportColumnsParams = {
            "companyId": Companyid,
            "form": formid
        };
        $.ajax({
            type: "Get",
            traditional: true,
            async: false,
            cache: false,
            url: 'GetReportsLines',
            data: getReportColumnsParams,
            success: function (data) {
                drawChart(data);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        })
    };

    function drawChart(list) {

        var numberOfQuestions = +document.getElementById('numberOfQuestions').value;
        for (i = 0; i < numberOfQuestions; i++) {
            var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['גבוהה', list[i].HighScore],
              ['בינוני', list[i].MidScore],
              ['נמוך', list[i].LowScore],
            ]);

            var options = {
                //title: list[i].TitleQuestion,
                pieHole: 0.4,
                colors: ['#4CC417', '#C0C0C0', '#FF0000']
            };


            var chart_div = document.getElementById(list[i].QuestionId);
            var chart = new google.visualization.PieChart(document.getElementById(list[i].QuestionId));


            // Wait for the chart to finish drawing before calling the getImageURI() method.
            //google.visualization.events.addListener(chart, 'ready', function () {
            //    chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
            //    console.log(chart_div.innerHTML);
            //});

            chart.draw(data, options);
        }
    }
</script>



<input id="numberOfQuestions" value="@Model.ReportForOrganiztionLinesModel.Count" class="collapse"></input>
<input id="Companyid" value="@Model.ReportForOrganiztionModel.CompanyId" class="collapse"></input>
<input id="formid" value="@Model.ReportForOrganiztionModel.FormId" class="collapse"></input>
<div dir="rtl" style="margin-top: 10%; align-items: center">

    <ul class="nav nav-tabs" role="tablist">
        @foreach (tbl_TypeQuestion catgoryName in Model.Categories)
        {

            if (catgoryName.Name.StartsWith("Int"))
            {
                <li role="presentation" class="active"><a href="#@catgoryName.Name" aria-controls="profile" role="tab" data-toggle="tab">@catgoryName.Description</a></li>
            }
            else
            {
                <li role="presentation"><a href="#@catgoryName.Name" aria-controls="profile" role="tab" data-toggle="tab">@catgoryName.Description</a></li>
            }
        }
    </ul>

    <div class="tab-content">
        @foreach (string c in Model.CategoriesDictionaryLines.Keys)
        {

            <div role="tabpanel" class="row tab-pane fade in active" id="@c">
                @foreach (ReportForOrganiztionLine line in Model.CategoriesDictionaryLines[c])
                {
                    <div>@line.tbl_IntentionalQuestion.Title</div>
                    @*<button onclick="saveAsImg($('#' + @line.QuestionId.ToString()));">Save as PNG Image</button>*@
                    <div id="@line.QuestionId" class="col-sm-pull-1" style="border-bottom:groove"></div>

                }
            </div>
        }
    </div>
</div>